* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'YoungSerif';
    src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Outfit';
    src: url(assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
    font-weight: 400 700;
    font-display: swap;
}

body {
    background-color: hsl(30, 54%, 90%);
    font-family: 'Outfit', sans-serif;
    height: 100vh;
}

.card {
    padding: 32px;
    background-color: white;
    max-width: 730px;
    margin: 0 auto;
    text-align: left;
    margin-top: 100px;
    border-radius: 24px;
    margin-bottom: 100px;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 16px;
    width: 100%;

}

h1 {
    font-family: 'YoungSerif', sans-serif;
    font-size: 34px;
    font-weight: 500;
    padding: 24px 0px;
}

.card p:first-of-type {
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    color: hsl(30, 10%, 34%);
    line-height: 24px;
}

.Preparation {
    background-color: hsl(330, 100%, 98%);
    border-radius: 5px;
    padding: 24px 0px;
    margin-top: 28px;
    line-height: 36px;
    color: hsl(30, 10%, 34%);
}

.li {
    font-weight: 600;
    padding-left: 20px
}

.Preparation>ul {
    padding-left: 44px;
}

.Preparation>span:first-child {
    color: hsl(332, 51%, 32%);
    font-weight: 600;
    font-size: 20px;
    padding-left: 24px;
}

h2 {
    color: hsl(14, 45%, 36%);
    padding: 12px 0px;
    font-family: 'YoungSerif', sans-serif;
    font-size: 28px;
    font-weight: 400;
    padding: 9px 0px;
}

.Ingredients {
    line-height: 36px;
    border-bottom: solid 1px hsl(30, 18%, 87%);
    padding: 24px 0px;
    margin-bottom: 24px;
    color: hsl(30, 10%, 34%);
}

.Ingredients ul {
    padding-left: 28px;
}

.Ingredients ul li {
    padding-left: 16px;
}

ul li::marker {
    color: hsl(14, 45%, 36%);
}


.Instructions {
    line-height: 24px;
    border-bottom: solid 1px hsl(30, 18%, 87%);
    padding: 12px 0px 24px 0px;
    margin-bottom: 24px;
    color: hsl(30, 10%, 34%);
}

.Instructions ol li {
    padding-left: 16px;
}

ol {
    margin-top: 16px;
    font-weight: 400;
    padding-left: 28px;
}

ol li::marker {
    font-weight: 700;
    color: hsl(14, 45%, 36%);


}

ol li span {
    font-weight: 700;

}

ol li {
    padding: 8px;
}

.Instructions h2 {
    padding: 0px;
}

.Nutrition p {
    margin-bottom: 24px;
    margin-top: 8px;
}

.Name {
    color: hsl(30, 10%, 34%);
    font-size: 16px;
    padding-bottom: 16px;
    padding-top: 12px;
    width: 50%;
    padding-left: 24px;
}

.kcal {
    color: hsl(14, 45%, 36%);
    font-weight: 700;
    padding-top: 16px;
}

.table {
    display: flex;
    flex-direction: column;
}

.table-row {
    display: flex;
    justify-content: flex-start;
    border-bottom: solid 1px hsl(30, 18%, 87%);
}

.table-row:last-child {
    border-bottom: none;
}

.attribution {
    margin: 34px;
}

@media (max-width : 375px) {
    .card {

        margin-top: 0px;
        padding: 0px;

    }

    h1 {
        padding-left: 24px;
    }

    p {
        margin: 0px 24px;
    }

    img {
        border-radius: 0px;

    }

    .Preparation {
        margin: 24px 24px 0px;

    }



    .Ingredients {
        line-height: 32px;
        margin: 0px 24px 24px;

    }

    .Ingredients li {
        list-style-position: inside;
        padding-left: 0px;
    }

    .Ingredients ul {
        padding: 0px;
        margin: 0px;
    }

    .space {
        padding-left: 23px;
    }

    .Instructions {
        margin: 24px 24px;
    }

    body {
        background-color: white;
    }

    .Nutrition {
        margin: 0px 24px;
    }

    .Nutrition p {
        margin-left: 0px;
    }

    .kcal {
        padding-left: 16px;
    }
}